/*
HTML RESET
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/*
MAIN BODY
*/

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #333;
  background-color: #f4f4f4;
}

/*
HEADER
*/

header {
  position: relative;
}

.slope {
  position: absolute;
  width: 100%;
  min-height: 325px;
  background-color: #1e2640;
  transform: skewY(-20deg);
  transform-origin: top left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.namecontainer {
  position: relative;
  padding-top: 35px;
  min-width: 80%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  max-width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  text-align: right;
}
