/*
HTML RESET
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/*
MAIN BODY
*/

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #484848;
  background-color: #f4f4f4;
}

/*
HEADER
*/

header {
  max-width: 1400px;
  margin: auto;
}

.slope {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 350px;
  background-color: #1e2640;
  transform: skewY(-20deg);
  transform-origin: top left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.image-container {
  position: relative;
  width: 100%;
  margin: 35px auto 0;
}

header img {
  position: relative;
  z-index: 3;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  max-width: 80%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

h1 {
  position: absolute;
  bottom: 10px;
  right: 14%;
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  font-weight: 500;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  text-align: right;
  z-index: 4;
}

/* ABOUT ME */

.about {
  margin-top: 30px;
}

.about p {
  margin: 15px 30px 0px 30px;
}

.socials {
  display: flex;
  margin-top: 25px;
  justify-content: center;
  gap: 20px;
}

a,
i {
  color: #484848;
}

i {
  font-size: 2rem;
  cursor: pointer;
}

h2 {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

/* WORK */

.work {
  margin: 50px 0px;
}

/* PROJECTS */

.work {
  max-width: 1400px;
  margin: auto;
}
.work h2 {
  margin-bottom: 30px;
  margin-top: 50px;
}

.projectlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  margin: 0px 30px;
  gap: 50px;
}

.project {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.projecttitle {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 40px;
  padding-right: 25px;
}

.projectlinks {
  display: flex;
  gap: 10px;
  flex: 0 0 auto;
}

.projectlinks i {
  font-size: 1.5rem;
}

.linkout {
  width: 25px;
  height: 25px;
  color: #484848;
}

.projectdescription {
  padding: 15px 25px;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.2;
  color: #484848;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 10px;
}

.projectimage {
  background-color: #6d8c84;
  height: 250px;
}

/* FOOTER */

footer {
  background-color: #1e2640;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

footer h2 {
  font-size: 3rem;
  padding-top: 30px;
}

footer i {
  color: #fff;
}

.footertext {
  padding: 0px 25px;
}

footer img {
  margin-top: 30px;
  object-fit: cover;
}

p.pitch {
  margin-top: 10px;
}

.address,
.phone,
.email {
  margin-top: 10px;
}

.contactinfo {
  display: flex;
  gap: 15px;
  align-items: end;
  margin-top: 10px;
}

.contactinfo svg {
  display: none;
  width: 25px;
  height: 25px;
  justify-content: center;
  fill: #fff;
}

/* MEDIA QUERIES */

@media (min-width: 500px) {
  /* PROJECT LIST */

  .projectlist {
    margin: 0px 80px;
  }

  .projecttitle {
    padding: 10px 25px;
  }

  .project h3 {
    font-size: 1.5rem;
  }

  /* HEADER */

  .slope {
    min-height: 650px;
    transform: skewY(-10deg);
  }

  .image-container {
    position: relative;
    width: 100%;
    margin: 35px auto 0;
    padding: 25px 50px;
  }

  header img {
    position: relative;
    float: left;
    top: 0;
    left: 0;
    transform: translate(0%);
    max-width: 55%;
    margin: 0px 20px 5px 0px;
  }

  h1 {
    top: 50px;
    right: 45px;
    font-size: 4rem;
    text-align: right;
  }

  /* ABOUT ME */

  .about {
    position: relative;
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    padding: 75px 25px;
    margin: 125px 75px 0px 100px;
    z-index: 2;
  }

  .about h2 {
    font-size: 2rem;
  }

  .about p {
    font-size: 1.2rem;
  }

  .about .socials {
    display: none;
  }

  /* FOOTER */

  .footercontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;
    padding: 0px 50px;
  }

  .footertext {
    padding: 0px;
  }

  footer h2 {
    text-align: left;
  }

  footer .socials {
    justify-content: start;
  }

  .footertext {
    display: flex;
    flex-direction: column;
    margin: 25px 0px;
  }

  footer img {
    margin: 50px;
    max-width: 40%;
    height: auto;
  }

  .contactinfo svg {
    display: block;
  }
}

@media (min-width: 1000px) {
  /* HEADER */

  .image-container {
    position: relative;
    margin: 35px 0 0 50px;
    width: 45%;
    max-width: 700px;
  }

  .slope {
    min-height: 525px;
  }

  header img {
    max-width: 100%;
  }

  h1 {
    position: relative;
    top: auto;
    bottom: 110px;
  }

  /* ABOUT ME */

  .about {
    padding: 30px 25px;
    margin: -550px auto 100px auto;
    max-width: 1200px;
    /* max-width: 1100px; */
  }

  .about h2 {
    font-size: 2rem;
    text-align: left;
  }

  .about p {
    font-size: 1.2rem;
    margin-left: 0px;
  }

  .about .socials {
    display: flex;
    justify-content: end;
    padding: 0px 30px;
  }

  /* PROJECT LIST */

  .work {
    margin-top: 125px;
  }
  .work h2 {
    text-align: left;
    margin: 100px 80px 5px;
  }
  .projectlist {
    margin: 0px 80px;
  }

  .projecttitle {
    padding: 10px 25px;
  }

  .project h3 {
    font-size: 1.5rem;
  }

  .projectdescription {
    font-size: 1rem;
  }

  /* FOOTER */

  footer img {
    max-width: 30%;
    height: auto;
    margin: 50px 0px;
  }
}
